[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/fergsatwork/rapidjson.git
[submodule "simplegltf"]
	path = simplegltf
	url = https://github.com/ousttrue/simplegltf.git
